*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;

}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
     background-color: #12002F;
     padding: 20px 7%;

}

header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

header nav {
            display: grid;
			grid-gap: 16px;
			grid-template-columns: repeat(4, auto);
}

header nav a {
    font-size: 20px;
  
}




.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.2s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}




.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.3s;
}

 .nav__overlay.Active {
    visibility: visible;
    opacity: 1;
}

/* Media Queries */

@media (max-width: 767px) {
    .container nav {
        display: none;
    }

    .mobile-nav {
    position: fixed;
	top: 0;
	right: 100%;
	width: 90vw;
	height: 100vh;
	display: flex;
    flex-direction: column;
    align-items: center;
	z-index: 98;
	background-color: #12002F;
	padding-top: 120px;
    transform: translateX(-150px);
    transition-delay: 250ms;
    gap: 3rem;
    
   
    
    }
    .mobile-nav a {
      
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 1rem;
        font-size: 20px;
    }
    .mobile-nav.is-active {
        right: 0;
    }

    .mobile-nav a:hover {
        color: #9a99ff;
    }
    
    
}

@media (min-width: 767px) {
    .container .hamburger {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
}
